name: windows-build

on:
  pull_request:
  push:
    branches:
      - master

jobs:

  windows_build:
    runs-on: windows-latest

    # Only allow one build at a time otherwise we can run out of licenses
    concurrency:
      group: windows_build

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.13"]

    env:
      PYTHON_VERSION: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - uses: ./.github/actions/setup_optimizers_windows
        with:
          GUROBI_WLS: ${{ secrets.GUROBI_WLS }}
          COPT_CLIENT_INI: ${{ secrets.COPT_CLIENT_INI }}
          MOSEK_LICENSE: ${{ secrets.MOSEK_LICENSE }}
          KNITRO_LICENSE: ${{ secrets.KNITRO_LICENSE }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CHECK_LICENSE: true

      - name: Build
        run: |
          python -m pip list
          python -m pip install nanobind scikit-build-core[pyproject] typing_extensions
          python -m pip install --no-build-isolation -v .
          python -c "import pyoptinterface as poi; print(dir(poi))"
          python -m pip wheel -w dist --no-build-isolation .

      - name: Test
        run: |
          python -m pip install pytest numpy scipy highsbox llvmlite tccbox
          python -m pytest tests -v

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: pyoptinterface-wheel-${{ runner.os }}-${{ runner.arch }}-${{ matrix.python-version }}
          path: dist/
